@{
    ViewBag.Title = "Contact";
}
<div id="page">
    <section id="header">
        <div class="container">
            <nav role="navigation">
                <ul class="pull-left left-menu">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="index.html#features">Features</a></li>
                    <li><a href="index.html#projects">Pricing</a></li>
                    <li><a href="careers.html">Careers</a></li>
                </ul>
                <h1 id="logo">
                    <div class="text-center">
                        <img src="~/Images/logo.jpg" class="img-logo" alt="Image" width="150px">
                    </div>
                </h1>
            </nav>
        </div>
    </section>
    <!-- #header -->

    <section id="hero" class="js-fullheight" style="background-image: url(../../Images/contact.png);" data-next="yes">
        <div class="overlay"></div>
        <div class="container">
            <div class="intro js-fullheight">
                <div class="intro-text">

                    <div class="left-position">
                        <h2 class="animate-box">Keep in touch with us</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="learn-more animate-box">
            <a href="#" class="scroll-btn">
                <span class="arrow"><i class="icon-chevron-down"></i></span>
            </a>
        </div>
    </section>
    <!-- END #hero -->
    <!-- END #projects -->

    <section id="features">
        <div class="container">
            <div class="row text-center row-bottom-padded-md">
                <div class="col-md-8 col-md-offset-2">
                    <h2 class="lead animate-box">Contact Us</h2>
                    <p class="sub-lead animate-box">
                        We would love to hear from you.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-md-offset-3">
                    
                        <div class="form-group">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Your Name..">
                        </div>
                        <div class="form-group">
                            <input type="email" class="form-control" id="email" name="email" placeholder="Your Email Id..">
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" id="mobile" name="mobile" placeholder="Your Mobile Number..">
                        </div>
                        <div class="form-group">
                            <textarea name="message" id="message" class="form-control" rows="3" required="required" placeholder="Your Message.."></textarea>
                        </div>

                        <button class="submitForm btn btn-primary">Submit</button>
                    
                </div>
            </div>
    </section>


    <section id="subscribe">
        <div class="container">

            <h3 class="animate-box"><label for="email">Reach out to us at</label></h3>
            <form action="#" method="post" class="animate-box">
                <i class="icon icon-paper-plane"></i>
                <input type="email" class="form-control" placeholder="Enter your email" id="email" name="email" value="connect@khatabahi.com" readonly>
            </form>

        </div>
    </section>
    <!-- END #subscribe -->

    <footer id="footer">
        <div class="container">
            <div class="row row-bottom-padded-md">
                <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                    <div class="footer-widget">
                        <h3>Company</h3>
                        <ul class="links">
                            <li><a href="#">About Us</a></li>
                            <li><a href="#">Careers</a></li>
                            <li><a href="#">Features</a></li>
                            <li><a href="#">Pricing</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                    <div class="footer-widget">
                        <h3>Support</h3>
                        <ul class="links">
                            <li><a href="#">24/7 Call Support</a></li>
                            <li><a href="#">Demos</a></li>
                            <li><a href="#">Terms of Use</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                    <div class="footer-widget">
                        <h3>Contact Us</h3>
                        <p>
                            <a href="#">
                                #677, 3rd Block,
                                Kormangala, Bangalore, India
                            </a>
                        </p>
                        <p>

                        </p>
                    </div>
                </div>

                <div class="col-md-3 col-sm-6 col-xs-12 animate-box">
                    <div class="footer-widget">
                        <h3>Follow Us</h3>
                        <ul class="social">
                            <li><a href="#"><i class="icon-twitter"></i></a></li>
                            <li><a href="#"><i class="icon-facebook"></i></a></li>
                            <li><a href="#"><i class="icon-google-plus"></i></a></li>
                            <li><a href="#"><i class="icon-instagram"></i></a></li>
                            <li><a href="#"><i class="icon-youtube-play"></i></a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>
        <div class="copyright animate-box">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <p class="left"><small>&copy; 2016 <a href="index-2.html">Senov Tech </a>All Rights Reserved.</small></p>
                        <p class="right"><small class="right">Designed by <a href="#" target="_blank">Senov Tech</a></small></p>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- END #footer -->
</div>	